.CtxtMenu_Menu {
    position: absolute;
    background-color: white;
    color: black;
    width: auto;
    padding: 5px 0px;
    border: 1px solid #CCCCCC;
    margin: 0;
    cursor: default;
    font: menu;
    text-align: left;
    text-indent: 0;
    text-transform: none;
    line-height: normal;
    letter-spacing: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    float: none;
    z-index: 201;
    border-radius: 5px;
    /* Opera 10.5 and IE9 */
    -webkit-border-radius: 5px;
    /* Safari and Chrome */
    -moz-border-radius: 5px;
    /* Firefox */
    -khtml-border-radius: 5px;
    /* Konqueror */
    box-shadow: 0px 10px 20px #808080;
    /* Opera 10.5 and IE9 */
    -webkit-box-shadow: 0px 10px 20px #808080;
    /* Safari 3 & Chrome */
    -moz-box-shadow: 0px 10px 20px #808080;
    /* Forefox 3.5 */
    -khtml-box-shadow: 0px 10px 20px #808080;
    /* Konqueror */
}

.CtxtMenu_MenuItem {
    padding: 1px 2em;
    background: transparent;
}

.CtxtMenu_MenuArrow {
    position: absolute;
    right: .5em;
    padding-top: .25em;
    color: #666666;
    font-family: null;
    font-size: .75em
}

.CtxtMenu_MenuActive .CtxtMenu_MenuArrow {
    color: white
}

.CtxtMenu_MenuArrow.CtxtMenu_RTL {
    left: .5em;
    right: auto
}

.CtxtMenu_MenuCheck {
    position: absolute;
    left: .7em;
    font-family: null
}

.CtxtMenu_MenuCheck.CtxtMenu_RTL {
    right: .7em;
    left: auto
}

.CtxtMenu_MenuRadioCheck {
    position: absolute;
    left: .7em;
}

.CtxtMenu_MenuRadioCheck.CtxtMenu_RTL {
    right: .7em;
    left: auto
}

.CtxtMenu_MenuInputBox {
    padding-left: 1em;
    right: .5em;
    color: #666666;
    font-family: null;
}

.CtxtMenu_MenuInputBox.CtxtMenu_RTL {
    left: .1em;
}

.CtxtMenu_MenuComboBox {
    left: .1em;
    padding-bottom: .5em;
}

.CtxtMenu_MenuSlider {
    left: .1em;
}

.CtxtMenu_SliderValue {
    position: absolute;
    right: .1em;
    padding-top: .25em;
    color: #333333;
    font-size: .75em
}

.CtxtMenu_SliderBar {
    outline: none;
    background: #d3d3d3
}

.CtxtMenu_MenuLabel {
    padding: 1px 2em 3px 1.33em;
    font-style: italic
}

.CtxtMenu_MenuRule {
    border-top: 1px solid #DDDDDD;
    margin: 4px 3px;
}

.CtxtMenu_MenuDisabled {
    color: GrayText
}

.CtxtMenu_MenuActive {
    background-color: #606872;
    color: white;
}

.CtxtMenu_MenuDisabled:focus {
    background-color: #E8E8E8
}

.CtxtMenu_MenuLabel:focus {
    background-color: #E8E8E8
}

.CtxtMenu_ContextMenu:focus {
    outline: none
}

.CtxtMenu_ContextMenu .CtxtMenu_MenuItem:focus {
    outline: none
}

.CtxtMenu_SelectionMenu {
    position: relative;
    float: left;
    border-bottom: none;
    -webkit-box-shadow: none;
    -webkit-border-radius: 0px;
}

.CtxtMenu_SelectionItem {
    padding-right: 1em;
}

.CtxtMenu_Selection {
    right: 40%;
    width: 50%;
}

.CtxtMenu_SelectionBox {
    padding: 0em;
    max-height: 20em;
    max-width: none;
    background-color: #FFFFFF;
}

.CtxtMenu_SelectionDivider {
    clear: both;
    border-top: 2px solid #000000;
}

.CtxtMenu_Menu .CtxtMenu_MenuClose {
    top: -10px;
    left: -10px
}