.CtxtMenu_MenuClose {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    border: 2px solid #AAA;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    /* Safari and Chrome */
    -moz-border-radius: 18px;
    /* Firefox */
    -khtml-border-radius: 18px;
    /* Konqueror */
    font-family: "Courier New", Courier;
    font-size: 24px;
    color: #F0F0F0
}

.CtxtMenu_MenuClose span {
    display: block;
    background-color: #AAA;
    border: 1.5px solid;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    /* Safari and Chrome */
    -moz-border-radius: 18px;
    /* Firefox */
    -khtml-border-radius: 18px;
    /* Konqueror */
    line-height: 0;
    padding: 8px 0 6px
        /* may need to be browser-specific */
}

.CtxtMenu_MenuClose:hover {
    color: white !important;
    border: 2px solid #CCC !important
}

.CtxtMenu_MenuClose:hover span {
    background-color: #CCC !important
}

.CtxtMenu_MenuClose:hover:focus {
    outline: none
}